* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
}

.container {
    background-color: #f70303;
    color: ghostwhite;
    width: 60%; 
    max-width: 900px;
    min-width: 600px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid #ddd;
    text-align: justify;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}






